.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

commit.sh
yarn.lock
package-json.lock
launch-serve
launch-dist
wrangler-serve
commit.json
package-lock.json
sanity-conf.json
auth0-conf.json
_sensitive_datas/_sensitive_datas.tar.xz
jwks.json
cloudinary-conf.json
.vscode/settings.json
src/config/node-version.json
src/config/places.json
src/config/mapbox-conf.json
src/config/cesium-conf.json
src/config/algolia-conf.json
src/config/meteo-france-conf.json
mongodb-places.json
mongodb-places.json

src/views/TrackJoinerHelp.vue
src/views/TrackJoinerView.vue
src/trackjoiner
src/config/codeStats.json
loc*.key
loc*.pem
loc*.csr
loc*.srl
functions/config/sumup-conf.json
functions/config/sumup-conf.json
